mixin item(img, name, office)
	.item
		img(src='/static/img/acerca/administracion/#{img}.png')
		h3 #{name}
		p #{office}


mixin overlay(image, description, title)
	.caja
		.imagen
			img(src="/static/img/metodos/#{image}.png")
		.description
			p #{description}
	.cintillo
		p #{title}