mixin item(img, name, office)
	.item
		img(src='/static/img/acerca/administracion/#{img}.png')
		h3 #{name}
		p #{office}


mixin overlay(image, metodo,metodo1,fuente,number, title)
	.caja
		.imagen
			img(src="/static/img/metodos/#{image}.png")
		.description

			span
				|Método : #{metodo}
				br
				|#{metodo1}				
				br
				br
			span
				|Fuente: #{fuente}
				br
				br
			span
				|Profundidad de
				br
				|Investigación: #{number}

	.cintillo
		p #{title}


mixin overlay2(image, metodo,metodo1,res,ref, title)
	.caja
		.imagen
			img(src="/static/img/metodos/#{image}.png")
		.description
			span 	
				|Método : #{metodo}
				br
				|#{metodo1}
				br
				br
			span
				|Resolución: #{res}
				br
				br

			span #{ref}

	.cintillo
		p #{title}

mixin overlay3(image, metodo,fuente,ref, title)
	.caja
		.imagen
			img(src="/static/img/metodos/#{image}.png")
		.description
			p 	
				|Método : #{metodo}
				br
				br
			p
				|Fuente: #{fuente}
				br
				br
			p #{ref}

	.cintillo
		p #{title}

.measure
	mixin overlay4(image, title,metodo,fuente,number)
		.content
			.overlay-content-img
				.overlay-image
					img(src="/static/img/metodos/#{image}.png")
			.overlay-content-text
				.overlay-title
					h3 #{title}

				.overlay-description
					span Método : #{metodo}
					br
					span Fuente: #{fuente}
					br
					span Profundidad de Investigación: #{number}
	
.measure
	mixin overlay5(image, title, metodo,fuente,ref)
		.content
			.overlay-content-img
				.overlay-image
					img(src="/static/img/metodos/#{image}.png")
			.overlay-content-text
				.overlay-title
					h3 #{title}
				.overlay-description
					span Método : #{metodo}
					br
					span Fuente: #{fuente}
					br
					span #{ref}

.measure
	mixin overlay6(image,title, metodo,res,ref, )
		.content
			.overlay-content-img
				.overlay-image
					img(src="/static/img/metodos/#{image}.png")
			.overlay-content-text
				.overlay-title
					h3 #{title}
				.overlay-description
					span
						span Método : #{metodo}
						br
						span Resolución: #{res}
						br

					span #{ref}

