mixin item(img, name, office)
	.item
		img(src='/static/img/acerca/administracion/#{img}.png')
		h3 #{name}
		p #{office}


mixin overlay(image, metodo,metodo1,fuente,number, title)
	.caja
		.imagen
			img(src="/static/img/metodos/#{image}.png")
		.description
			.metodo 
				p
					|Método : #{metodo}
					|#{metodo1}

			.fuente
				p
					|Fuente: #{fuente}
			.pro
				p
					|Profundidad de
					|Investigación: #{number}

	.cintillo
		p #{title}


mixin overlay2(image, metodo,metodo1,res,ref, title)
	.caja
		.imagen
			img(src="/static/img/metodos/#{image}.png")
		.description
			p 	
				|Método : #{metodo}
				|#{metodo1}
			p
				|Resolución: #{res}

			p #{ref}

	.cintillo
		p #{title}

mixin overlay3(image, metodo,fuente,ref, title)
	.caja
		.imagen
			img(src="/static/img/metodos/#{image}.png")
		.description
			p 	
				|Método : #{metodo}
			p
				|Fuente: #{fuente}

			p #{ref}

	.cintillo
		p #{title}