mixin cover-aplications(img, cap1, description, cap)
	.cover
		.cover-img
			img(src='/static/img/#{img}')

		.cover-caption
			.title
				h1 #{cap}

		.cover-caption-description
			p #{description}

		.cover-cd
			.title
				h2 #{cap1}


mixin cover-aplications2(img, title, description, seccion)
	.cover
		.cover-img
			img(src='/static/img/#{img}.png')
			.cover-content
				.cover-caption-text-seccion
					h1 #{seccion}
				.cover-caption-text-title
					h3 #{title}
				.cover-caption-text-description
					p #{description}



mixin cover(img, title)
	.cover
		.cover-img
			img(src="/static/img/servicios/#{img}.png")

	.content
		h1 #{title}

mixin cover-sc(img, cap)
	.cover
		.cover-img
			img(src='/static/img/#{img}')

		.cover-caption
			.title
				h1 #{cap}


mixin cover-full(img, title, desc1, desc2)
	.cover
		.cover-img
			img(src="/static/img/#{img}")
				
		.cover-caption

			.title
				h1 #{title}

			.text
				span
					|#{desc1}
					|#{desc2}


mixin cover-mod(img, title)
	.cover
		.cover-img
			img(src="/static/img/servicios/#{img}.png")

	.content
		h1 #{title}

	.arrow1
		img.image1(src="/static/img/servicios/ModelInversion47.png")

	.arrow2
		img.image2(src="/static/img/servicios/ModelInversion48.png")

	.arrow3
		img.image3(src="/static/img/servicios/ModelInversion49.png")

	.arrow4
		img.image4(src="/static/img/servicios/ModelInversion50.png")

	.arrow5
		img.image5(src="/static/img/servicios/ModelInversion51.png")

	.arrow6
		img.image6(src="/static/img/servicios/ModelInversion52.png")

	.arrow7
		img.image7(src="/static/img/servicios/ModelInversion53.png")

	.arrow8
		img.image8(src="/static/img/servicios/05.png")