mixin mosaico-x3-2-1(txt1, img, txt2)

	.block1
		p #{txt1}

	.block2
		if block
			block
		else
			img(src='/static/img/#{img}')

	.block3
		p  #{txt2}

//-#####################################################

mixin mosaico-x3-1-2(img, txt1, img2)

	.block4
		img(src='/static/img/#{img}')

	.block5
		p  #{txt1}

	.block6
		img(src='/static/img/#{img2}')

//-#####################################################

mixin mosaico-x4-2-2(img, txt1, txt2, img2)

	.block7
		.sub7
			if block
				block
			else
				img(src='/static/img/#{img}')

		.sub7-1
			p #{txt1}

	.block8
		.sub8
			p #{txt2}

		.sub8-1
			img(src='/static/img/#{img2}')

//-#####################################################

mixin mosaico-x2-1-1(img, txt1)

	.block9
		img(src='/static/img/#{img}')

	.block10
		p #{txt1}

//-#####################################################

mixin mosaico-x2-1-2(txt1, img)

	.block11
		p #{txt1}

	.block12
		img(src='/static/img/#{img}')

//-#####################################################

mixin country

	.country
		span: p: a(href='nicaragua') Nicaragua
		span: p: a(href='canada') Canadá
		span: p: a(href='kirguistan') Kirguistán
		span: p: a(href='bolivia') Bolivia
		span: p: a(href='india') India
		span: p: a(href='ecuador') Ecuador
		span: p: a(href='colombia') Colombia
		span: p: a(href='panama') Panamá
		span: p: a(href='chile') Chile
		span: p: a(href='costa-rica') Costa Rica
