
mixin mosaico1(texto1, img, texto2)
	.ms1c
		.mc1
			img(src="/static/img/#{texto1}.png", alt="")
		.mc2
			img(src="/static/img/#{img}.png", alt="")
		.mc3
			img(src="/static/img/#{texto2}.png", alt="imgen")



mixin mosaico2(img, texto1, img2)
	.ms2c
		.mc1
			img(src="/static/img/#{img}.png", alt="")
		.mc2
			img(src="/static/img/#{texto1}.png", alt="")
		.mc3
			img(src="/static/img/#{img2}.png", alt="")


mixin mosaico2-r(img, texto1, img2)
	.ms2c-r
		.mc1
			img(src="/static/img/#{img}.png", alt="")
		.mc2
			img(src="/static/img/#{texto1}.png", alt="")
		.mc3
			img(src="/static/img/#{img2}.png", alt="")


mixin mosaico3(img, texto1, texto2 ,img2)
	.ms4c
		.mc1
			.mc1-1
				img(src="/static/img/#{img}.png", alt="")
			.mc1-1-1
				img(src="/static/img/#{texto1}.png", alt="")
		.mc2
			.mc2-2
				img(src="/static/img/#{texto2}.png", alt="")
			.mc2-2-2
				img(src="/static/img/#{img2}.png", alt="")

mixin mosaico4(img, texto1)

	.ms3c
		.mc1
			img(src="/static/img/#{img}.png", alt="")
		.mc2
			img(src="/static/img/#{texto1}.png", alt="")


mixin mosaico4-r(texto1, img)

	.ms3c-r
		.mc1
			img(src="/static/img/#{texto1}.png", alt="")

		.mc2
			img(src="/static/img/#{img}.png", alt="")


mixin mosaico4-re(img, texto1)

	.ms3c-re
		.mc1
			img(src="/static/img/#{img}.png", alt="")
		.mc2
			img(src="/static/img/#{texto1}.png", alt="")


mixin country

	.country
		span: p.ctry: a(href='nicaragua') Nicaragua
		span: p.ctry: a(href='canada') Canadá
		span: p.ctry: a(href='kirguistan') Kirguistán
		span: p.ctry: a(href='bolivia') Bolivia
		span: p.ctry: a(href='india') India
		span: p.ctry: a(href='ecuador') Ecuador
		span: p.ctry: a(href='colombia') Colombia
		span: p.ctry: a(href='panama') Panamá
		span: p.ctry: a(href='chile') Chile
		span: p.ctry: a(href='costa-rica') Costa Rica

//- //-#####################################################

mixin method-name

	.metod-4
		span: p.thd: a(href='/metodos/electricos/sondeo-electrico-vertical') SEV
		span: p.thd: a(href='/metodos/electricos/polarizacion-inducida') IP
		span: p.thd: a(href='/metodos/electricos/polarizacion-inducida-espectral') SIP
		span: p.thd: a(href='/metodos/electricos/tomografia-de-resistividad-electrica') TRE

//- //-#####################################################

mixin method-2

	.metod-6
		span: p.thd: a(href='/metodos/sismicos/autocorrelacion-espacial') SPAC
		span: p.thd: a(href='/metodos/sismicos/sismica-en-pozo-cross-up-dawn-hole') CROSS-UP
		span: p.thd: a(href='/metodos/sismicos/sismica-de-ondas-superficiales') MASW
		span: p.thd: a(href='/metodos/sismicos/sismica-de-refraccion') REFRACCION
		span: p.thd: a(href='/metodos/sismicos/sismica-de-reflexion') REFLEXIÓN
		span: p.thd: a(href='/metodos/sismicos/sismica-de-cocientes-espectrales') REMI

//- //-#####################################################

mixin method-3

	.metod-6-b
		span: p.thd: a(href='/metodos/electromagneticos/magnetotelurico-audio-magnetotelurico') AMT / MT
		span: p.thd: a(href='/metodos/electromagneticos/audio-magnetotelurico-de-fuente-controlada-vectorial') CSAMT
		span: p.thd: a(href='/metodos/electromagneticos/transitorio-electromagnetico-en-el-dominio-del-tiempo') TEM
		span: p.thd: a(href='/metodos/electromagneticos/radio-magnetotelurico') RMT
		span: p.thd: a(href='/metodos/electromagneticos/conductividad-electromagnetica') CMD
		span: p.thd: a(href='/metodos/electromagneticos/georadar-de-penetracion-terrestre') GPR

//- //-#####################################################

mixin method-1

	.metod-2
		span: p.thd: a(href='/metodos/potenciales/gravimetria') GRV
		span: p.thd: a(href='/metodos/potenciales/magnetometria') MAG

//------------------------------------------------------------------------



//- mixin mosaico4(texto1)

//- 	.ms3c
//- 		.mc1
//- 			ul#radiomagnetotelurico.bxslider
//- 				li: img(src="/static/img/metodos/electromagneticos/radio/427b.png" title="Mapa de resistividad para la profundidad de 50 m")

//- 				li: img(src="/static/img/metodos/electromagneticos/radio/427b.png" title="Mapa de resistividad para la profundidad de 100 m")

//- 				li: img(src="/static/img/metodos/electromagneticos/radio/427b.png" title="Mapa de resistividad para la profundidad de 150 m")

//- 				li: img(src="/static/img/metodos/electromagneticos/radio/427b.png" title="Mapa de resistividad para la profundidad de 200 m")

//- 				li: img(src="/static/img/metodos/electromagneticos/radio/427b.png" title="Mapa de resistividad para la profundidad de 250 m")

//- 		.mc2
//- 			img(src="/static/img/#{texto1}.png", alt="")



