mixin mosaico-x3(txt1, img, title)
	.nivel1
		.item1
			p #{txt1}
		.item2
			img(src='/static/img/Audio-magneto/#{img}.png')
		.item3
			p  #{txt2}


mixin mosaico-x2(txt1, img, title)
	.nivel3
		.item7
			img(src='/static/img/Audio-magneto/#{img}.png')
				
		.item8
			p #{txt1}